.homepage {
  background: url("/assets/home_bg.png") no-repeat center center fixed;
  background-size: 100vw 100vh;
  height: 100%;
  margin: 0;
  a {
    position: absolute;
    left: 43vw;
    top: 59.5vh;
    width: 14.27vw;
    height: 10.19vh;
    color: #aaa;
    text-align: center;
    font-size: 4vh;
    font-family: arial;
    text-decoration: none;
  }
}
