<div class="homepage d-flex align-items-center justify-content-center">
  <div class="col-3">
    <div class="title">
      <div class="row">
        <h1 class="align-self-center">Nestor</h1>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary" ng-click="click()">
          login
        </button>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary" ng-click="click()">
          Register
        </button>
      </div>
    </div>
  </div>
</div>
<div class="popover" role="tooltip">
  <div class="arrow"></div>
  <h3 class="popover-title">
    Popover Title
  </h3>
  <div class="popover-content">
    Popover Content
  </div>
</div>
