<!-- <h2 style="text-align: center;">Days Off</h2>
<div class="scrollable ">
  <div class="row" *ngFor="let holiday of settings.closedDays; let i = index">
    <input type="date" name="" id="" [(ngModel)]="settings.closedDays[i]" class="date-withicon">
  </div>
  <div class="row">
    <button class="btn btn-primary"  (click)="newHoliday()">+</button>
  </div>
</div> -->
<span style="position:fixed;z-index: 3;top: 52vh;left:78vw;color: #d4d4d4; font-size:2rem;">Days Off</span>
<button class="btn"  (click)="newHoliday()" style="position:fixed;z-index: 3;top: 73vh;left:71vw;color: #d4d4d4; font-size:2rem; width: 20vw;background-color: #472b3f;" >+</button>
